html, body{
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Open-Sans;
    font-size: 12pt;
}

.navbar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    position: relative;
    max-width: 100px;
    padding: 20px;
}

.navbar ul{
    position: relative;
    display: flex;
    right: 30px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    padding: 12px 30px;
    transition: 0.6s;
}

.navbar ul li a:hover{
    background: #017143;
    border-radius: 60px;
    color: #fff;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    font-weight: 600;
    font-size: 1.5em;
    color: #017143;
}

.content .textBox p{
    color: #333;
}

.content .textBox a{
    display: inline-block;
    background: #017143;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .imgBox{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    width: 600px;
}

.content .imgBox img{
    max-width: 350px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.6s;
}

.thumb li:hover{
    transform: translateY(-20px);
}

.thumb li img{
    max-width: 80px;
}

.icons{
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons li{
    list-style: none;
}

.icons li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.7);
    filter: invert(1);
}

.circle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

@media(max-width: 901px){
    .navbar{
        padding: 10px;
    }

    .navbar .logo{
        max-width: 60px;
    }

    .navbar ul{
        display: none;
    }

    .toggle{
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        padding: 20px;
    }

    .content{
        flex-direction: column;
        margin-top: 10px;
    }

    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .textBox{
        max-width: 100%;
    }

    .content .imgBox{
        max-width: 100%;
        justify-content: center;
        padding: 0px;
    }

    .content .imgBox img{
        max-width: 180px;
    }

    .thumb li img{
        max-width: 40px;
    }

    .circle{
        clip-path: circle(350px at center bottom);
    }

    .icons{
        background: #017143;
        right: 0px;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px;
    }
}
